a:hover{text-decoration: none;}img{ max-width: 100%; height: auto;}
a:focus{ outline: none; }
.alignleft, img.alignleft {margin-right: 1.5em;display: inline;float: left;}
.alignright, img.alignright {margin-left: 1.5em;display: inline;float: right;}
.aligncenter, img.aligncenter {margin-right: auto;margin-left: auto;display: block;clear: both;}
.wp-caption {margin-bottom: 1.5em;text-align: center;padding-top: 5px;max-width: 100%;}
.wp-caption img {border: 0 none;padding: 0;margin: 0;}
.wp-caption img[class*="wp-image-"] { display: block; margin: 0;}

.wp-caption p.wp-caption-text {line-height: 1.5;font-size: 10px;margin: 0;}
.wp-smiley {margin: 0 !important;max-height: 1em;}
blockquote.left {margin-right: 20px;text-align: right;margin-left: 0;width: 33%;float: left;}
blockquote.right {margin-left: 20px;text-align: left;margin-right: 0;width: 33%;float: right;}
.gallery dl {}.gallery dt {}.gallery dd {}.gallery dl a {}.gallery dl img {}.gallery-caption{ width: 100%;}
.size-full {}.size-large {}.size-medium {}.size-thumbnail {}

/*.sticky{ background: #f3f3f3; padding: 10px; border-top: 5px solid #5687bf;}*/
.bypostauthor{ position: relative;}
/* == WordPress WYSIWYG Editor Styles == */

/* Fix table */
table { border-bottom: 1px solid #ededed; border-collapse: collapse;border-spacing: 0;font-size: 14px;line-height: 2;margin: 0 0 20px;width: 100%;}
thead {display: table-header-group;vertical-align: middle;border-color: inherit;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
tr {display: table-row;vertical-align: inherit;border-color: inherit;}
th {font-weight: bold;text-transform: uppercase;}
td {border-top: 1px solid #ededed; padding: 6px 10px 6px 0;}
ol, ul { margin: 0; padding: 0 0 0 16px;}
ul {list-style-type: square;}
ul li { display: list-item; text-align: -webkit-match-parent;}
ol {display: block;list-style-type: decimal;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 20px; margin-top: 0;}
address {font-style: italic;margin: 0 0 24px;}
cite, em, var, address, dfn {font-style: italic;}
/* /Fix table */



/* boxed and wide layout */
body.boxed{
	background-color: #ccc;
}
body.boxed .container_boxed{
	 max-width: 1170px; 
	 margin: 0 auto; 
	 background: #fff; 
	 overflow: hidden;
}


.js-video embed,.js-video iframe,.js-video object,.js-video video{ width: 100%; height: 350px; border: none; }
iframe{width: 100%;height: auto;border: none;}
@media (max-width: 767px) { 
    .js-video embed,.js-video iframe,.js-video object,.js-video video{ height: 280px;} 
}
.postformat_audio iframe{ height: 150px; width: 100%;}
/* /Audio, Video, iFrame */


/* Sidebar */
#sidebar{ margin-top: 0;}
#sidebar .widget{ display: block; margin-bottom: 0px;}
/* /Sidebar */

/* Sidebar Calendar */
#sidebar #wp-calendar{width: 100%;}
#sidebar #wp-calendar  tr th{ background: #ccc; color: #444; }
#sidebar #wp-calendar caption{ background: #ccc; color: #fff; font-weight: bold; text-align: center; }
#sidebar #wp-calendar  tr th,#sidebar #wp-calendar  tr td{ border: 1px solid #ccc; text-align: center;}
/* /Sidebar Calendar */

/* Sidebar Tag clound */
#sidebar .widget_tag_cloud .tagcloud{ position: relative; width: 100%; float: left; }
#sidebar .widget_tag_cloud .tagcloud a{ float: left;margin: 0 10px 10px 0;display: block;padding: 5px 10px;background-color: transparent;border: solid 1px #5687bf; font-size: 14px!important;}
#sidebar .widget_tag_cloud .tagcloud a:hover{color: #fff; }
/* /Sidebar Tag clound */



/* Sidebar Search */
#sidebar form#searchform{ position: relative; }
#sidebar .widget_search .screen-reader-text{ display: none; }

#sidebar .widget_search input.search-submit{ border: none; padding: 3px 5px; display: none; }
#sidebar .widget_search label, #sidebar .widget_search label input.search-field{ width: 100%; /*max-width: 250px;*/ }
/*#sidebar .widget_search label input.search-field{ height: 40px; padding: 6px 12px; background-color: #EBEBEB; color: #8a929a;border-radius: 5px;border: none;-webkit-appearance: none;-webkit-box-shadow: none;box-shadow: none;}
*/
#sidebar .widget_search label input.search-field{ width: 100%;
height: 60px;
outline: medium none;
margin: 0px auto;
font-size: 17px;
position: relative;
background-color: #FFF;
padding: 10px 45px 10px 15px;
box-shadow: none;
border-radius: 6px;
border: 1px solid #B2C4D6;}
#sidebar .widget_search label input.search-field::-moz-placeholder{color: #8a929a;}
/*#sidebar .widget_search label input.search-field:hover, #sidebar .widget_search label input.search-field.focus{border:none;}*/
#sidebar ul.search{ list-style-type: none; padding-left: 0;}

#sidebar input.search-field::-webkit-input-placeholder { color: #333; opacity: 0.9;}/* WebKit browsers */
#sidebar input.search-field:-moz-placeholder { color: #333; opacity:  1;}
#sidebar input.search-field::-moz-placeholder {  color: #333; opacity:  1; }/* Mozilla Firefox 19+ */
#sidebar input.search-field:-ms-input-placeholder { color: #333;} /* Internet Explorer 10+ */
/* /Sidebar search */

/* Sidebar dropdown */
#sidebar select{width: 100%;height: 30PX;line-height: 30PX;}
/* /Sidebar dropdown */

/* Sidebar img */
#sidebar img{ width: auto; }
#sidebar h3.widget-title img{ width: auto;float: left;margin-top: 10px;margin-right: 10px;}
/* /Sidebar img */

/* Sidebar Title of each widget */
#sidebar h3.widget-title{color:#0d1d31; font-weight: 600; margin-top: 0;}
#sidebar .widget{ margin-bottom: 50px;}
/* /Sidebar Title of each widget */


/* Sidebar ul, ol, li */
#sidebar ul{ list-style-type: none;  margin-left: 0; padding-left: 0px;}
#sidebar ul{ background-color: #F5F7F9; border-radius: 6px; padding: 0px 10px;}

#sidebar ul ul, #sidebar ol ol, #sidebar ul ol, #sidebar ol ul { padding-left: 12px; }
#sidebar .widget ul li{ margin-bottom: 10px;display: block;
border-bottom: 1px solid rgba(178, 196, 214, 0.3);}
#sidebar .widget ul li li{ border-bottom: none;}
#sidebar .widget a:hover{color: #0d1d31;}
#sidebar .widget ul li a {height: 25px;

font-size: 14px;
font-weight: 400;
line-height: 25px;
font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;}
/* /Sidebar ul, ol, li */


/** Fix for img ajax contact form 7  */
img.ajax-loader{ width: 16px!important;height: 16px!important;display: block;text-align: center;margin: 0 auto;margin-left: auto!important;}


/* Blog Page */
article.post-wrap{ margin-bottom: 50px; float: left; width: 100%;}

.post-media, .post-title, .post-meta, .post-body, .post-readmore, .post-tag{
	width: 100%;
	float: left;
	margin: 7px 0px;
}
.post-media{ margin-top: 0px;}
.post-title h2.post-title{ margin:0;}
.post-title h2.post-title a:hover{ text-decoration: none;}
.post-meta{}
.post-meta-content .post{ padding-right: 10px;}
.post-meta-content .post .left{ padding-right: 2px;}
.post-meta-content .post.post-date .fa{font-size: 15px;}
.post-meta-content .post.post-author .fa{font-size: 16px;}
.post-meta-content .post.comment{font-size: 14px;}

.post-body p{ margin: 0px;}
.post-readmore a{ float:left; background: transparent;  border: 1px solid #5687bf; padding:5px; border-radius: 5px; }
.post-readmore a:hover{ color: #fff; text-decoration: none;}
.post-tag{}
.post-date .right{ color: #5687bf; }
footer.post-tag .post-tags a{
	display: inline-block;
}
footer.post-tag .post-categories a{
	display: inline-block;
}

article.format-aside{ padding: 10px; }

/* /Blog Page */

/* 404 Page */
body.error404 .err404{ padding-top: 50px; padding-bottom: 50px;}
body.error404 .icon-warring{ font-size: 30px; color: red;}
/* /404 Page */

/* Comment form */
#comments h4.block-title{ font-weight: bold; font-size: 15px;}
#commentform #submit.submit{ display: none;}
ul.commentlists{ list-style: none; padding-left: 0;}
ul.commentlists li.comment article.comment_item{ margin-bottom: 15px;}
ul.commentlists header.comment-author{float: left; margin-right: 10px;}
ul.commentlists  ul.children{ list-style: none;}
header.comment-author img{float: left;margin-right: 10px;width: 85px;}
section.comment-details{ padding-top: 0;}
.commentform input, .commentform textarea{
	margin-bottom: 15px;
}

/* /Comment form */

/* Search Page */
article.result_search .post-body{ margin-bottom: 30px;}
/* /Search Page */

/* Pagination index page */  
nav.pagination{ margin: 50px 0px; padding: 0;}
nav.pagination ul{ margin: 0; padding: 0; list-style-type: none;}
nav.pagination ul li{ display: inline-block;}

nav.pagination ul li span, nav.pagination ul li a { 
	background-color: #eeeeee; 
	margin: 0 10px 0 0;
	padding: 7px 15px 7px 15px;
	border-radius: 5px;
}

nav.pagination li span.current,
nav.pagination li.active a,
nav.pagination li a:hover, 
nav.pagination li a:focus{ color: #fff;}
nav.pagination li.active a{cursor: default;}

/* pagination blog page */
.blog_pagination ul{
	list-style: none;
	margin: 0; 
	padding: 0;
}
.blog_pagination ul li{
	display: inline-block;
}
.blog_pagination ul li a{
	background-color: #eeeeee;
	margin: 0 10px 0 0;
	padding: 7px 15px 7px 15px;
	border-radius: 5px;
}
.blog_pagination ul li a:hover,
.blog_pagination ul li span{
	color: #fff;
	background-color: red;
	margin: 0 10px 0 0;
	padding: 7px 15px 7px 15px;
	border-radius: 5px;
}

.wrap_content{
	padding-top: 50px;
	padding-bottom: 50px;
}

.tag-sticky-2 .post-data{
	border: 1px solid rgba(240, 58, 26, 0.21);
	box-shadow: 10px 2px 5px 2px #000
}



/* RTL */
body.rtl #sidebar .widget_tag_cloud .tagcloud a{
	float: right!important;
	margin-left: 10px;
	margin-right: 0px;
}
body.rtl .pull-left{
	float: right!important;
}

body.rtl .pull-right{
	float: left!important;
}

body.rtl .post-readmore a{
	float: right!important;
}
